.icon-admin-white { background-image: url('png/admin-white.png'); background-repeat: no-repeat; }

.icon-admin { background-image: url('png/admin.png'); background-repeat: no-repeat; }

.icon-angle-bracket-left { background-image: url('png/angle-bracket-left.png'); background-repeat: no-repeat; }

.icon-angle-bracket-right { background-image: url('png/angle-bracket-right.png'); background-repeat: no-repeat; }

.icon-bookcase-white { background-image: url('png/bookcase-white.png'); background-repeat: no-repeat; }

.icon-bookcase { background-image: url('png/bookcase.png'); background-repeat: no-repeat; }

.icon-bracket-left { background-image: url('png/bracket-left.png'); background-repeat: no-repeat; }

.icon-bracket-right { background-image: url('png/bracket-right.png'); background-repeat: no-repeat; }

.icon-celtic1 { background-image: url('png/celtic1.png'); background-repeat: no-repeat; }

.icon-celtic2 { background-image: url('png/celtic2.png'); background-repeat: no-repeat; }

.icon-chocolate-white { background-image: url('png/chocolate-white.png'); background-repeat: no-repeat; }

.icon-chocolate { background-image: url('png/chocolate.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-curly-bracket-left { background-image: url('png/curly-bracket-left.png'); background-repeat: no-repeat; }

.icon-curly-bracket-right { background-image: url('png/curly-bracket-right.png'); background-repeat: no-repeat; }

.icon-default-size-white { background-image: url('png/default-size-white.png'); background-repeat: no-repeat; }

.icon-default-size { background-image: url('png/default-size.png'); background-repeat: no-repeat; }

.icon-globe-white { background-image: url('png/globe-white.png'); background-repeat: no-repeat; }

.icon-globe { background-image: url('png/globe.png'); background-repeat: no-repeat; }

.icon-leather { background-image: url('png/leather.png'); background-repeat: no-repeat; }

.icon-mandala1 { background-image: url('png/mandala1.png'); background-repeat: no-repeat; }

.icon-maximize-white { background-image: url('png/maximize-white.png'); background-repeat: no-repeat; }

.icon-maximize { background-image: url('png/maximize.png'); background-repeat: no-repeat; }

.icon-minimize-white { background-image: url('png/minimize-white.png'); background-repeat: no-repeat; }

.icon-minimize { background-image: url('png/minimize.png'); background-repeat: no-repeat; }

.icon-parentheses-left { background-image: url('png/parentheses-left.png'); background-repeat: no-repeat; }

.icon-parentheses-right { background-image: url('png/parentheses-right.png'); background-repeat: no-repeat; }

.icon-wood { background-image: url('png/wood.png'); background-repeat: no-repeat; }

