.sidebar-offcanvas {
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #404040;
  overflow-y: auto;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  padding: 50px 0 0 15px;

  h3 {
    color: #fff;
    padding-left: 10px;
  }

  .legend-row {
    display: table-row;

    .form-group {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;
      cursor: move;
    }
  }

  .panel-group .panel {
    border-radius: 0;
    margin-top: 0;
    outline: none;

    .panel-body {
      display: table;
      width: 100%;
      padding: 0;
    }
  }

  .framework-list {
    display: table;
    width: 100%;

    .framework-list-row {
      display: table-row;

      .framework-list-cell {
        display: table-cell;
        text-align: center;
        padding: 10px 10px 7px 10px;
        background-color: #666;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;

        &:hover {
          background-color: #a6a6a6;
          color: #000;
        }

        &.active {
          border-bottom: 3px solid #fff;

          &:hover {
            border-bottom: 3px solid #000;
          }
        }
      }
    }
  }
}

.body-offcanvas {
  left: 25%;
  min-height: calc(100vh - 60px);
  padding: 10px 35px 0 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  .toggle-menu-button {
    position: absolute;
    top: 20px;
    left: 30px;
    opacity: 0.8;
    z-index: 5000;
  }

  .theme-builder-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    .theme-builder-cell {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      padding: 10px 0 0 10px;

      .theme-builder-item-container {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        border: 4px dashed #e6e6e6;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sidebar-offcanvas .framework-list .framework-list-row .framework-list-cell {
    display: block;
    border-bottom: 0px solid transparent;
    border-right: 3px solid transparent;
    padding: 10px 7px 10px 10px;

    &.active {
      border-right: 3px solid #fff;
      border-bottom: 0px solid transparent;

      &:hover {
        border-right: 3px solid #000;
        border-bottom: 0px solid transparent;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%; /* 6 columns */
    padding: 50px 0 0 0;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0;
  }

  .body-offcanvas {
    left: 0;
    padding: 20px 0 0 35px;
  }

}
