html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 50px;
}

*:focus {
  outline: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}

@-webkit-keyframes fadeUp {
  from {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes fadeUp {
  from {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
}
