<div class="container" data-ng-controller="UITestBedCtrl">
  <div class="ui-view-container">
    <div class="row">
      <div class="col-md-12" style="padding: 0 30px">
        <h2>UI Testbed</h2>
        <div jp-slider min-value="minValue"
             max-value="maxValue"
             colors="colors"
             display-ticks="true"
             popup-fade="true"
             segments="segments"
             snap-to="true"
             popup-content="percent"></div>
      </div>
    </div>
  </div>
</div>
