<div data-ng-class="CASSandboxCtrl" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>CAS Style Guide</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Buttons</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Primary Button</label>
        <a href="#" cas-button class="btn btn-lg btn-primary">Primary Button</a>
      </div>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
