.form-horizontal .legend-row .control-label{
  padding-left: 5px;
  text-align:left !important;
}

.left-menu-btn {
  margin: 5px;
}

.highlighterTopLeft,
.highlighterTop,
.highlighterTopRight,
.highlighterRight,
.highlighterBottomRight,
.highlighterBottom,
.highlighterBottomLeft,
.highlighterLeft {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.highlighterTopLeft {
  border-bottom: 1px dashed #ff0000;
  border-right: 1px dashed #ff0000;
}

.highlighterTop {
  border-bottom: 1px dashed #ff0000;
}

.highlighterTopRight {
  border-bottom: 1px dashed #ff0000;
  border-left: 1px dashed #ff0000;
}

.highlighterRight {
  border-left: 1px dashed #ff0000;
}

.highlighterBottomRight {
  border-top: 1px dashed #ff0000;
  border-left: 1px dashed #ff0000;
}

.highlighterBottom {
  border-top: 1px dashed #ff0000;
}

.highlighterBottomLeft {
  border-top: 1px dashed #ff0000;
  border-right: 1px dashed #ff0000;
}

.highlighterLeft {
  border-right: 1px dashed #ff0000;
}
