<div data-ng-controller="ThemeBuilderCtrl">
  <div off-canvas class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="framework-list">
        <div class="framework-list-row">
          <a class="framework-list-cell" ui-sref-active="active" ui-sref="themeBuilder.bootstrap">Bootstrap</a>
          <a class="framework-list-cell" ui-sref-active="active" ui-sref="themeBuilder.foundation">Foundation</a>
          <a class="framework-list-cell" ui-sref-active="active" ui-sref="themeBuilder.skeleton">Skeleton</a>
        </div>
      </div>
      <div ui-view></div>
    </div>
    <div class="col-xs-12 col-sm-9 body-offcanvas">
      <p class="pull-left visible-xs">
        <button type="button" id="toggleOffMenu" class="btn btn-primary btn-xs">Toggle Nav</button>
      </p>
    </div>
  </div>

</div>
